<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogo.psy.user.mapper.UserFeedbackMapper">

    <resultMap id="BaseResultMap" type="com.gogo.psy.user.pojo.model.UserFeedback">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="reply" column="reply" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="replyTime" column="reply_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_id,
        message,reply,create_time,
        reply_time
    </sql>

    <select id="selectByPage" resultType="com.gogo.psy.user.pojo.dto.UserFeedbackDTO">
        SELECT uf.*, u.nickname
        from user_feedback uf
        left join user_info u on uf.user_id = u.id
        where 1=1
        <if test="name != null and name != ''">
            and u.nickname = #{name}
        </if>
        <if test="roleId != null and roleId != ''">
            and uf.role_id = #{roleId}
        </if>
        order by uf.create_time
    </select>
</mapper>
